.godot/
.import/
exports/
builds/
*.translation

.DS_Store
Thumbs.db
desktop.ini

*.swp
*.swo
*~
.nvim/
.lsp/
Session.vim

__pycache__/
.venv/
*.o
*.obj
*.so
*.dll

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json